.App {
  text-align: center;
}

.App-Header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body{
  margin: 0;
  padding: 0;
  background-image: url('/public/weather-scenarios-collage-dbk9c5n23l7e5fgb.jpg'); /* si está en public */
  background-size: cover;             /* ajusta la imagen al tamaño */
  background-repeat: no-repeat;       /* no se repite */
  background-position: center center; /* centrada */
}

.Glass-Tittle{
  background: rgba(255, 255, 255, 0.2);  /* Fondo blanco semitransparente */
  backdrop-filter: blur(10px);           /* Difumina lo que hay detrás */
  -webkit-backdrop-filter: blur(10px);   /* Para compatibilidad con Safari */
  padding: 20px 40px;
  border-radius: 15px;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);  /* Hace el texto más legible */
  display: inline-block;
  margin-top: 40px;
}

.Select-Provincia{
  font-size: 18px;
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin-top: 20px;
}